body{
    margin: 0;
}
.navbar{
    box-shadow: 1.95px 1.95px 2.6px rgb(217, 209, 209);
    height: 100px;
}
.image1{
    width: 100%;

}
/* image style */
#img1{
    background-color:#006241 ;
}
#img2{
    background-color: #a3029a;
}
#img3{
    background-color: #d6e342;
    
}
#img4{
    background-color: #97d8b1;
}

/* footer styles */

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

/* Media Query - Convert to accordion style below 728px */


@media screen and (max-width: 728px) {
    .footer-menu {
        display: block;
    }

    .footer-column h3 {
        cursor: pointer;
    }

    .footer-column .collapse {
        display: none;          /* Hide all lists by default */
    }

    .footer-column .collapse.show {
        display: block;          /* Show the list when expanded */
    }
}


@media screen and (min-width: 728px){
    .footer-column .collapse{
        display: block;
    }
}


.accordion-button:focus{
    box-shadow: none;
}



.accordion-item{
    border: none;
}



hr{
    color:rgba(0, 0, 0, 0.15) 1.95px 1.95px ; 
    margin: 30px 30px;
}
.footer-final{
    margin: 32px 39.6px 32px 39.6px;
    text-decoration: none;
    
}
 .footer-final ul{
   list-style: none;
   margin-left: -25px; 
  
 }
 .footer-final {
   font-size: 16px;
   font-family: SoDoSans;
   font-weight: 400; 
 }
 .sm-info{
   margin-top: 40px;
   
 }
 .sm-info a{
   
   color: black;
   text-decoration: none;
 }
.sm-info li{
   height: 50px;
   
}
.sm-logo i{
   font-size: 30px;
   padding-right: 15px; 
}
small{
    color: grey;  
  }